# Task 1
#  Referral id -  SIRSS2156
#  Name - Sejal Nandkishor Kale


## 1. Inverted Pyramid pattern with the same digit

In [1]:
n=5
for i in reversed(range(n+1)):
    for j in range(i):
        print("5",end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## 2. Inverted half pyramid pattern with number

In [2]:
n=5
for i in reversed(range(1,n+1)):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## 3. Alternate numbers pattern using while loop

In [3]:
n=5
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
    k+=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

## 4. Reverse Pyramid of Numbers

In [4]:
n=5
for i in range(1,n+1):
    for j in reversed(range(1,i+1)):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## 5. Print reverse number from 10 to 1

In [5]:
n=4
k=0
for i in range(1,n+1):
    k+=i
    c=k
    for j in range(i):
        print(c ,end=" ")
        c-=1
    print()

1
3 2
6 5 4
10 9 8 7

## 6.Pascal’s triangle pattern using numbers

In [6]:
def printPascal(n) :
     
    
    for line in range(0, n) :
         
       
        for i in range(0, line + 1) :
            print(binomial(line, i), end = " ")
        print()
     
 
def binomial(n, k) :
    res = 1
    if (k > n - k) :
        k = n - k
    for i in range(0 , k) :
        res = res * (n - i)
        res = res // (i + 1)
     
    return res
n = 7
printPascal(n)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

## 7.Square pattern with numbers

In [7]:
n=5
for i in range(1,n+1):
    for k in range(i):
        print(i,end=" ")
    
    for j in range(i+1,6):
        
        print(j,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

## 8.Multiplication table pattern

In [8]:
n=8
for i in range(1,n+1):
    k=i
    for j in range(1,i+1):
        print(k,end=" ")
        k+=i
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

## 9.Downward full Pyramid Pattern of star

In [9]:
rows = 5
k = 2 * rows - 2
for i in reversed(range(rows+1)):
    for j in reversed(range(0,k)):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

## 10.Equilateral triangle pattern of star

In [10]:
n = 7
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m -= 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print()

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

## 11.Print two pyramids of stars

In [11]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

print()

for i in range(rows+1,0,-1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

## 12.Right start pattern of star

In [12]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 13.Left triangle pascal’s pattern

In [13]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

## 14.Sandglass pattern of star

In [14]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

## 15. Pant style pattern of stars

In [15]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*